<div class="wysiwyg mt-7 mb-8">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<p><strong>Der Pizzakeller</strong>  war die erste Holzofen-Pizzeria im Norden Wiens (Eröffnung 2. Oktober 1982) und eine der ersten Pizzerien der Stadt.

                            1985 eröffneten wir die Pizzeria Cara Mia in der Pragerstrasse 65.
                            
                            1994 folgten die Pizzeria Cara Mia-Hardeggasse und die Pizzeria Ponte (gegenüber dem SMZ-Ost).
                            
                            Ebenfalls 1994 errichteten wir unsere Catering-Zentralküche in Kaisermühlen.
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-md-8 offset-md-2">
					<img src="assets/img/about/info.jpg" />
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-lg-6 offset-lg-3">
					<p>Viele Millionen verkaufte Pizzen, zahlreiche Bestbewertungen in diversen Medien, unser einzigartiges Mittagsbuffet und zehntausend zufriedene Stammgäste beweisen:

                           <strong>"Herzlich willkommen in den besten Pizzerien der Stadt !"</strong> 
                            
                            Nur bei uns gibt es die Pizzacard. Mit dieser Pizzacard werden unseren Gäste zahlreiche Vergünstigungen in allen unserer Pizzerien geboten .
                            
                            Wir sehen uns als Familienpizzeria.Unsere Kindergeburtspartys sind einmalig in Österreich und die Ausstattung (z.B.Kinderhochstühle und Wickeltische) unserer Pizzerien mit zahlreichen Kinderspielräumen und Nichtraucherecken machen uns zur Familenpizzeria Nr.1 in Wien.
				</div>
			</div>
		</div>
	</div>
