<div class="mt-7 mb-8">
		<div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="mt-2 mb-5 short-line"></div>
                    <div class="wysiwyg">
                        <p><strong>When guests choose to dine at Eros’s, they do so expecting the best. They are dedicated to perfecting their craft. And we are continually educating ourselves. They are fueled by a passion for exceptional food and unrivaled guest service.</strong> </p>
                        <img src="assets/img/menu/food.jpg" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in <strong>voluptate velit esse</strong> cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in <a href="#">voluptate velit esse</a> cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                    </div>
                    <ul class="post-meta list-bare mt-5">
                        <li><a href="/table">Reservieren</a></li>
                    </ul>
				</div>
				<!--=== Blog post sidebar ===-->
                <div class="col-lg-4 offset-lg-1">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="u-font-serif mb-3">Fresh Every Day</h5>
                        </div>
                    </div>
                    <div class="row">
						<div class="col-sm-12 col-md-4 col-lg-12">
							<a href="#" class="article-card article-card--sm">
								<div class="article-card__img-wrapper">
									<div class="article-card__img" style="background-image:url('assets/img/buffet/buffet2.jpg')"></div>
								</div>
								<h3 class="u-h5 u-font-serif mt-3">Fresh & Healthy</h3>
								<p class="article-card__date">Mo-FR</p>
							</a>
						</div>
			
						<div class="col-sm-12 col-md-4 col-lg-12">
							<a href="#" class="article-card article-card--sm">
								<div class="article-card__img-wrapper">
									<div class="article-card__img" style="background-image:url('assets/img/buffet/buffet3.jpg')"></div>
								</div>
								<h3 class="u-h5 u-font-serif mt-3">Vegan & Healthy</h3>
								<p class="article-card__date">Mi-Do</p>
							</a>
						</div>
			
						<div class="col-sm-12 col-md-4 col-lg-12">
							<a href="#" class="article-card article-card--sm">
								<div class="article-card__img-wrapper">
									<div class="article-card__img" style="background-image:url('assets/img/buffet/buffet4.jpg')"></div>
								</div>
								<h3 class="u-h5 u-font-serif mt-3">Desserts</h3>
								<p class="article-card__date">With/No Sugar</p>
							</a>
						</div>
                    </div>
				</div>
				<!--=== end of Blog post sidebar ===-->
            </div>
		</div>
	</div>
	<!--=== enf of Blog Post ===-->

	