<div class="demo">
        <table class="table is-responsive">
          <thead>
            <tr>
              <th> Name</th>
              <th> Email</th>
              <th> Text</th>
            </tr>
          </thead>
          <tbody>
            <!-- Das ist ein Foreach von Fatfree (repeat) -->
              <repeat group="{{ @messages }}" value="{{ @row }}">
                  <tr>
                      <td>{{ @row.msg_fullname }}</td>
                      <td>{{ @row.msg_email }}</td>
                      <td>{{ @row.msg_text }}</td>  
                  <td><a href="/contact-all/{{ @row.msg_id }}/delete" class="button is-danger">Delete</a></td>
                  </tr>
      
              </repeat>  
          </tbody>
        </table>
      
      </div>