<div class="mt-7 mb-8">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <p class="u-color-grey">We are very happy to hear from You. Please wait for a responce with in 24 Hours </p>
                    <div class="mt-5">
						<h3 class="form-confirmation u-font-serif mt-6 js-form-confirmation">Thank you for contacting us! We will reply as soon as possible!</h3>
                        <form method="POST" class="form js-form" action="">
                            <div class="form__field">
                                    <check if="{{ @errors.msg_fullname }}">
                                            <div class="field-error">{{ @errors.msg_fullname }}</div>
                                        </check>
                                <input type="text" name="msg_fullname" placeholder="Full Name" value="{{ @values.msg_fullname }}" required>
                            </div>
                            <div class="form__field">
                                    <check if="{{ @errors.msg_email }}">
                                            <div class="field-error">{{ @errors.msg_email }}</div>
                                        </check>
                                <input type="email" name="msg_email" placeholder="Your E-mail" class="js-email" value="{{ @values.msg_email }}" required>
                                <p class="form__field__error js-email-error">E-mail is incorrect.</p>
                            </div>
                            <div class="form__field">
                                    <check if="{{ @errors.msg_text }}">
                                            <div class="field-error">{{ @errors.msg_text }}</div>
                                        </check>
                                <textarea rows="4" placeholder="Your Message" name="msg_text" value="{{ @values.msg_text }}"></textarea>
                            </div>
                            <div class="form__field">
                                <input type="submit" value="SEND" class="js-submit">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 offset-md-1">
                    <ul class="contact-info">
                        <li><span>Phone</span>+12 345 6789</li>
                        <li><span>E-mail</span>contact@pizzeria.com</li>
                        <li><span>Working Hours</span>Mon-Fri &nbsp;&nbsp;09:00 - 21:00<br>Sat-Sun &nbsp;&nbsp;11:00 - 23:00</li>
                        <li><span>Address</span>52 Stumpergasse<br>Vienna, AUT</li>
                        <li><ion-icon name="pin" class="u-color-primary"></ion-icon><a href="#" class="u-color-primary" target="_blank">Check on the map</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</div>