

	<!--=== Hero ===-->
	<div class="hero hero--md u-bg-p-center" style="background-image: url('assets/img/gallery/foto.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<h1 class="hero__title u-font-serif" data-aos="zoom-in">Allways Fresh</h1>
				</div>
			</div>
		</div>
	</div>
	<!--=== enf of Hero ===-->
	
	<!--=== Gallery ===-->
    <div class="mt-7 mb-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-center">
                    <p class="u-color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
            <div class="row u-mt-5">
                <div class="col-sm-12">
                    <div class=" grid">
                        <div class="grid-sizer"></div>
                        <div class="gutter-sizer"></div>
                        <div class="grid-item">
                            <img src="assets/img/gallery/foto1.jpg" alt="foto1"/>
                        </div>
                        <div class="grid-item">
                            <img src="assets/img/gallery/foto2.jpg" alt="foto2"/>
                        </div>
                        <div class="grid-item">
                            <img src="assets/img/gallery/foto3.jpg" alt="foto3"/>
                        </div>
                        <div class="grid-item">
                            <img src="assets/img/gallery/foto4.jpg" alt="foto4"/>
                        </div>
                        <div class="grid-item">
                            <img src="assets/img/gallery/foto5.jpg" alt="foto5"/>
                        </div>
                        <div class="grid-item">
                            <img src="assets/img/gallery/foto6.jpg" alt="foto6"/>
                        </div>
                        <div class="grid-item">
                            <img src="assets/img/gallery/foto7.jpg" alt="foto7"/>
                        </div>
                        <div class="grid-item">
                            <img src="assets/img/gallery/foto8.jpg" alt="foto8"/>
                        </div>
                        <div class="grid-item">
                            <img src="assets/img/gallery/foto9.jpg" alt="foto9"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<!--=== enf of Gallery ===-->

	<!--=== Footer Call to Action ===-->
	<div class="footer-cta" style="background-image:url('assets/img/home/pizzalow.jpg')">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 offset-sm-1 text-center u-color-white">
					<h4 class="footer-cta__title u-font-serif" data-aos="fade-up">Like our products?</h4>
					<p class="footer-cta__subtitle" data-aos="fade-up" data-aos-delay="100">Order for yourself or send as gift for your loved ones.</p>
					<a href="/shop" class="btn btn--big" data-aos="fade-up" data-aos-delay="100">Order</a>
				</div>
			</div>
		</div>
	</div>
	<!--=== end of Footer Call to Action ===-->