<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<form action="/authenticate" method="POST" >
    <div class="wrapper">
        <div class="title">
            <div class="form">
                <div class="inputfield">
                    <label>Email </label>
                    <check if="{{ @errors.user_email }}">
                        <div class="field-error">{{ @errors.user_email }}</div>
                    </check>
                    <input class="input" type="text" name="user_email"  value="{{ @values.user_email }}">
                </div>
                <div class="inputfield">
                    <label>Password</label>
                    <check if="{{ @errors.password }}">
                        <div class="field-error">{{ @errors.password }}</div>
                    </check>
                    <input class="input" type="password" name="password"  value="{{ @values.password }}">
                </div>

                <div class="inputfield">
                    <input type="submit" name="submit" value="Login" class="btn">
                </div>
                <div class="inputfield">
                    <a href="/register">Sign up here to be a new member!</a>
                </div>
                
            </div>
        </div>
</form> 