<!--=== Hero ===-->
<div class="hero hero--md" style="background-image: url('assets/img/home/pizzalow.jpg');">
<div class="container">
<div class="row">
    <div class="col-lg-8 offset-lg-2 text-center">
        <h1 class="hero__title u-font-serif" data-aos="zoom-in">Menu</h1>
        <p class="hero__subtitle" data-aos="zoom-in">A rich and creamy whole-wheat Italian dishes filled layer by layer with refreshingly fresh onions and garlic, lathered in a succulent sauce and topped with imported, premium quality mozzarella.</p>
    </div>
</div>
</div>
</div>
<!--=== enf of Hero ===-->

<!--=== Menu ===-->
<div class="menu mt-7 mb-8">
<div class="container">
<div class="row">
    <div class="col-sm-12">
        <ul class="menu-nav d-flex justify-content-center mb-5">
            <li class="mx-4 mb-3"><a href="#bread" class="menu-nav__link u-color-primary js-menu-link">Bread</a></li>
            <li class="mx-4 mb-3"><a href="#pastry" class="menu-nav__link js-menu-link">Pastry</a></li>
            <li class="mx-4 mb-3"><a href="#coffee" class="menu-nav__link js-menu-link">Coffee & Drinks</a></li>
        </ul>
        <div class="menu-tab js-menu-tab" id="bread">
            <div class="d-md-flex">
                <ul class="menu-list mr-md-4">
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Brioche<sup>1,2</sup></h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Braid / Roll / Chocolate-Filled Roll</span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€3.00</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Focaccia</h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Market / Sandwich,  Rustica / Herb</span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€3.20</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Sourdough<sup>2,3</sup></h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Baguette / Batard /  Boule</span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€3.00</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Pretzel<sup>2,3</sup></h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Baguette / Demi</span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€2.00</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Brioche<sup>1,2</sup></h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Braid / Roll / Chocolate-Filled Roll</span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€3.00</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Focaccia</h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Market / Sandwich,  Rustica / Herb</span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€3.20</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Sourdough<sup>2,3</sup></h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Baguette / Batard /  Boule</span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€3.00</span>
                        </div>
                    </li>
                </ul>
                <ul class="menu-list ml-md-4">
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Pretzel<sup>2,3</sup></h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Baguette / Demi</span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€2.00</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Brioche<sup>1,2</sup></h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Braid / Roll / Chocolate-Filled Roll</span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€3.00</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Focaccia</h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Market / Sandwich,  Rustica / Herb</span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€3.20</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Sourdough<sup>2,3</sup></h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Baguette / Batard,  Boule</span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€3.00</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Pretzel<sup>2,3</sup></h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Baguette / Demi</span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€2.00</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Brioche<sup>1,2</sup></h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Braid / Roll / Chocolate-Filled Roll</span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€3.00</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Focaccia</h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Market / Sandwich,  Rustica / Herb</span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€3.20</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-tab js-menu-tab" id="pastry">
            <div class="d-md-flex">
                <ul class="menu-list mr-md-4">
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Muffins</h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Blueberry / Banana Nut / Cappuccino / Chocolate Chai / Lemon Poppy Seed</span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€4.15</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Croissants</h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Chocolate / Peanut Butter & Chocolate / Sriracha / Pretzel<sup>1</sup></span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€3.20</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Sweet Rolls<sup>2,3</sup></h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Cinnamon / Sticky Bun / Schnecken </span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€3.00</span>
                        </div>
                    </li>
                </ul>
                <ul class="menu-list ml-md-4">
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Cookies</h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Chocolate Chip<sup>1</sup> / Monster / Cap’N Crunch / Red Velvet<sup>1,2</sup></span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€2.00</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Pies</h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Pecan / Pumpkin / Caramel / Raw <sup>1,2,3</sup></span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€5.20</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <h4 class="menu-list-item__title u-font-serif">Bars</h4>
                        <div class="d-flex">
                            <span class="menu-list-item__desc font-italic">Snickers / Pecan / Brownie / Vegan Brownie / Gluten-Free Rice Krispy<sup>1,4</sup> </span>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€2.20</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-tab js-menu-tab" id="coffee">
            <div class="d-md-flex">
                <ul class="menu-list mr-md-4">
                    <li class="menu-list-item">
                        <div class="d-flex">
                            <h4 class="menu-list-item__title u-font-serif">Espresso</h4>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€2.15</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <div class="d-flex">
                            <h4 class="menu-list-item__title u-font-serif">Capuccino</h4>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€2.15</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <div class="d-flex">
                            <h4 class="menu-list-item__title u-font-serif">Latte</h4>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€1.85</span>
                        </div>
                    </li>
                </ul>
                <ul class="menu-list ml-md-4">
                    <li class="menu-list-item">
                        <div class="d-flex">
                            <h4 class="menu-list-item__title u-font-serif">Hot Chocolate</h4>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€2.15</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <div class="d-flex">
                            <h4 class="menu-list-item__title u-font-serif">Tea</h4>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€3.15</span>
                        </div>
                    </li>
                    <li class="menu-list-item">
                        <div class="d-flex">
                            <h4 class="menu-list-item__title u-font-serif">Lemonade</h4>
                            <span class="menu-list-item__dots"></span>
                            <span class="menu-list-item__price">€4.05</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center u-text-small u-color-grey">
            <p>1 - Gluten Free &nbsp; &nbsp; 2 - Vegetarian &nbsp; &nbsp;  3 - Vegan &nbsp; &nbsp;  4 - Sugar free</p>
        </div>
    </div>
</div>
</div>
</div>
<!--=== enf of Menu ===-->