<br>
<br>
  
    <div class="field is-grouped">
        <div class="control">
          <button onclick="window.location.href='/product-add'" class="button is-success" type="submit">Add New Product</button>
        </div>
        <div class="control">
          <button onclick="window.location.href='/products-all'" class="button is-warning"  type="submit">See All Products</button>
        </div>
        <div class="control">
            <button onclick="window.location.href='/table-all'" class="button is-primary"  type="submit">Tables reserved</button>
        </div>
        <div class="control">
            <button onclick="window.location.href='/contact-all'" class="button is-danger"  type="submit">Messages</button>
        </div>
        <div class="control">
            <button onclick="window.location.href='/shop-admin'" class="button is-info"  type="submit">Online Orders</button>
        </div>
        <div class="control">
            <button onclick="window.location.href='/all-users'" class="button is-dark"  type="submit">Users</button>
        </div>
    </div>
 <br>
 <hr>
 <br>
 <br>
 <br>
 <br>
 <br>
