<include href="/views/modules/alert.html" />

<form action="" method="POST">
        <label for="product_name" class="label">Product Name</label>
        <check if="{{ @errors.product_name }}">
            <div class="field-error">{{ @errors.product_name }}</div>
        </check>
        <input class="input is-success" type="text" name="product_name" id="product_name" value="{{ @values.product_name }}">
        
        
        
        
        <label for="product_description" class="label">Product Description</label>
        <check if="{{ @errors.product_description }}">
            <div class="field-error">{{ @errors.product_description }}</div>
        </check>
        <input class="input is-success" type="text" name="product_description" id="product_description" value="{{ @values.product_description}}">
        
            
        
        <label for="product_info" class="label">Product Info</label>
        <check if="{{ @errors.product_info }}">
            <div class="field-error">{{ @errors.product_info }}</div>
        </check>
        <input class="input is-success" type="text" name="product_info" id="product_info" value="{{ @values.product_info}}">

        
        
        <label for="product_price" class="label">Product Price</label>
        <check if="{{ @errors.product_price }}">
            <div class="field-error">{{ @errors.product_price }}</div>
        </check>
        <input class="input is-success" type="text" name="product_price" id="product_price" value="{{ @values.product_price}}">
        
        <br>
        <br>
        
            <div class="control">
                <button class="button is-primary">Submit</button>
            </div>
        

</form>