
    
    <div class="demo">
      <table class="table is-responsive">
        <thead>
          <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Descpription</th>
            <th>Product Info</th>
            <th>Product Price</th>
          </tr>
        </thead>
        <tbody>
          <!-- Das ist ein Foreach von Fatfree (repeat) -->
            <repeat group="{{ @products }}" value="{{ @row }}">
                <tr>
                    <td>{{ @row.product_id }}</td>
                    <td>{{ @row.product_name }}</td>
                    <td>{{ @row.product_description }}</td>
                    <td>{{ @row.product_info }}</td>
                    <td>{{ @row.product_price }}</td>  
                <td><a href="/products-all/{{ @row.product_id }}/edit" class="button is-primary">Edit</a></td>
                <td><a href="/products-all/{{ @row.product_id }}/delete" class="button is-danger">Delete</a></td>
                <!-- <td><button class="button is-danger" data-url="/products-all/{{ @row.id }}/delete">Delete</button></td> -->
                </tr>
    
            </repeat>  
        </tbody>
      </table>
    
    </div>

        
