<div class="demo">
    <table class="table is-responsive">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>User ID</th>
          <th>Order Name</th>
          <th>Order Quantity</th>
          <th>Order Price</th>
        </tr>
      </thead>
      <tbody>
        <!-- Das ist ein Foreach von Fatfree (repeat) -->
          <repeat group="{{ @orders }}" value="{{ @row }}">
              <tr>
                  <td>{{ @row.order_id }}</td>
                  <td>{{ @row.user_id }}</td>
                  <td>{{ @row.order_name }}</td>
                  <td>{{ @row.order_quantity }}</td>
                  <td>{{ @row.order_price }}</td>  
              <td><a href="/products-all/{{ @row.order_id }}/delete" class="button is-danger">Delete</a></td>
            
              </tr>
  
          </repeat>  
      </tbody>
    </table>
  
  </div>