<include href="/views/modules/alert.html" />
<head>
	<!--===  FONTS ===-->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700|Playfair+Display:400,400i,700,900" rel="stylesheet">

         <!--=== STYLES ===-->
        <link rel="stylesheet" href="css/table.css">
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<link rel="stylesheet" href="assets/css/vendors/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/vendors/slick.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/style.css">
</head>


<div class="container">  
    <form id="contact" action="" method="post">
      <h3>Pizza Keller</h3>
      <h4>Reserve a Table today, and get reply with in 24 hours!</h4>
      <fieldset>
            <check if="{{ @errors.res_name }}">
                    <div class="field-error">{{ @errors.res_name }}</div>
                </check>
        <input placeholder="Name" class="input" name="res_name" type="text" tabindex="1" value="{{ @values.res_name }}" required autofocus >
      </fieldset>
      <fieldset>
            <check if="{{ @errors.res_email }}">
                    <div class="field-error">{{ @errors.res_email }}</div>
                </check>
        <input placeholder="Email Address" class="input" name="res_email" type="email" tabindex="2" value="{{ @values.res_email }}" required>
      </fieldset>
      <fieldset>
            <check if="{{ @errors.res_phone }}">
                    <div class="field-error">{{ @errors.res_phone }}</div>
                </check>
        <input placeholder="Phone Number" class="input" name="res_phone" type="tel" tabindex="3" value="{{ @values.res_phone }}" required>
      </fieldset>
      <fieldset>
            <check if="{{ @errors.res_date }}">
                    <div class="field-error">{{ @errors.res_date }}</div>
                </check>
        <input class="input" placeholder="Date" name="res_date" type="date" tabindex="3" value="{{ @values.res_date }}" required>
      </fieldset>
      <fieldset>
            <check if="{{ @errors.res_time }}">
                    <div class="field-error">{{ @errors.res_time }}</div>
                </check>
        <input class="input" placeholder="Date" name="res_time" type="time" tabindex="3" value="{{ @values.res_time }}" required>
      </fieldset>
      <fieldset>
                <check if="{{ @errors.res_message }}">
                        <div class="field-error">{{ @errors.res_message }}</div>
                    </check>
            <input class="input" placeholder="How many People" name="res_message" type="text" tabindex="3" value="{{ @values.res_message }}" required>
          </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
   
   