<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	
	<title> Pizzakeller| Home </title>

  <!--===  FONTS ===-->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700|Playfair+Display:400,400i,700,900" rel="stylesheet">
  <script src="https://kit.fontawesome.com/23e31166e5.js" crossorigin="anonymous"></script>
 
  <!--=== STYLES ===-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<link rel="stylesheet" href="assets/css/vendors/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/vendors/slick.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<header class="header">
		<!--=== Desktop navigation ===-->
		<div class="container">
			<div class="row align-items-center">
				<div class="col-10 col-sm-7 col-lg-2">
					<a href="/" class="header__logo">
						<span class="u-font-serif">Keller</span>
					</a>
				</div>
				<div class="col-sm-8 d-none d-lg-block">
					<ul class="desktop-nav d-lg-flex justify-content-center">
						<li class="desktop-nav__item desktop-nav__item--has-submenu active">
							<a class="desktop-nav__link active" href="/">Home</a>
							<ul class="desktop-nav__submenu list-bare">
                                <li><a href="/about">About</a></li>
			                    <li><a href="/gallery" >Gallery</a></li>
			                    <li><a href="/contact">Contact</a></li>                  
							</ul>
						</li>
						<li><a href="/menu" class="desktop-nav__link">Menu</a></li>
                        <li><a href="/table" class="desktop-nav__link">Reserve a Table</a></li>
                        <li><a href="/register" class="desktop-nav__link">Register</a></li>
                        <li><a href="/login" class="desktop-nav__link">Login</a></li>
                        <li><a href="/products" class="desktop-nav__link">Admin</a></li>
					</ul>
				</div>
				<div class="col-1 d-lg-none">
					<a href="#" class="mobile-nav-trigger d-lg-none js-open-mobile-nav"><ion-icon name="menu" class="icon"></ion-icon></a>
				</div>
				<div class="col-sm-4 col-lg-2 d-none d-sm-block">
					<a href="http://pizzeria.localhost/shopping" class="btn btn--ghost btn--full">Order</a>
				</div>
			</div>
		</div>
		<!--=== Mobile navigation ===--> 
		<ul class="mobile-nav-list js-mobile-nav d-lg-none">
			<li class="mobile-nav-list__item mobile-nav-list__item--has-submenu">
				<a href="index.html" class="mobile-nav-list__link js-open-submenu">Home</a>
				<ul class="mobile-nav-list__submenu js-submenu">
					<li><a href="/about" class="active">About</a></li>
					<li><a href="/gallery">Gallery</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/table">Reservieren</a></li>
				</ul>
			</li>
			<li><a href="/menu" class="mobile-nav-list__link">Menu</a></li>
			<li><a href="/table" class="mobile-nav-list__link">Reserve a Table</a></li>
			<li><a href="/register" class="mobile-nav-list__link">Register</a></li>
			<li><a href="/login" class="mobile-nav-list__link">Logi in</a></li>
			<li><a href="products" class="mobile-nav-list__link">Admin</a></li>
			<li><a href="/shopping" class="mobile-nav-list__link">Order</a></li>
		</ul>
	</header>
 <body>     
  
        <main>
            <include href="{{ @content }}" />
        </main>
        
        <!--=== Footer ===-->
	<footer class="footer u-bg-secondary">
      <div class="u-bg-secondary footer-widgets">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="footer-widget">
                <h6 class="footer-widget__title">Low-VollCorn</h6>
                <p>Für kulinarische Geniesser gibt es nur bei uns auch die orig.ital.Vollkorn-Holzofenpizza, die Vitalpizza und viele vegetarische Spezialitäten.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="footer-widget">
                <h6 class="footer-widget__title">QUICK LINKS</h6>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/gallery">Gallery</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="footer-widget">
                <h6 class="footer-widget__title">INFO</h6>
                <div class="mb-2">
                  <p><span>Mon-Fri &nbsp;&nbsp;</span>09:00 - 21:00</p>
                  <p><span>Sat-Sun &nbsp;&nbsp;</span>11:00 - 23:00</p>
                </div>
                <p>52 Stumpergasse</p>
                <p>Vienna, AUT</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="footer-widget">
                <h6 class="footer-widget__title">FOLLOW US</h6>
                <ul class="footer-widget__social-list">
                  
                  <li><a href="#"><ion-icon name="logo-instagram" class="icon icon--grey"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-facebook" class="icon icon--grey"></ion-icon></a></li>
                  <li><a href="#"><ion-icon name="logo-twitter" class="icon icon--grey"></ion-icon></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-bg-primary text-center pt-3 pb-3">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <p class="footer__copy">All rights reserved &copy; 2020 | Pizza Keller by Eros Bardhi</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--== End of footer ==-->
 
 
 <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <repeat group="{{ @jScripts }}" value="{{ @script }}">
        <script src="{{ @script }}"></script>
    </repeat>
    <script src="assets/js/vendors/jquery-3.3.1.min.js"></script>
<script src="assets/js/vendors/bootstrap.min.js"></script>
<script src="assets/js/vendors/slick.min.js"></script>
<script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="assets/js/script.js"></script>
  </body> 

</html>