/*----------------------------------------------------
	FARINA - BAKERY / CAKERY / RESTAURANT TEMPLATE.

	Author:			theme_div
	Type:          	CSS
	Last Update:   	14.05.2019
	
	Primary color:			#dcb36e
	Secondary color: 		#faf8f1
	Article border color: 	#f3edde


	[Table of contents]
	1.  General
	2.  Utilities
	3.  Elements
	4.  Header
	5.  Hero
	6.  Story
	7.  Slider
	8.  Menu
	9.  Testimonials
	10. Article Card
	11. Gallery
	12. Blog
	13. Form
	14. Contact Info
	15. Footer CTA
	16. Footer

----------------------------------------------------*/


/*============== 1. General ==============*/
*:focus {
	outline: none!important;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	color: #1f1f1f;
	line-height: 1.7;
	letter-spacing: 0.8px;
}

a {
	color: #1f1f1f;
	transition: color .3s ease;
}

a:hover,
a:focus,
a.active {
	color: #dcb36e;
}

h1 {
	font-size: 36px;
	font-family: 'Playfair Display', serif; 
}

h2 {
	font-size: 32px;
	font-family: 'Playfair Display', serif;
}

h3 {
	font-size: 28px;
	font-family: 'Playfair Display', serif;
}

h4 {
	font-size: 24px;
	font-family: 'Playfair Display', serif;
}

h5 {
	font-size: 20px;
	font-family: 'Playfair Display', serif;
}

h6 {
	font-size: 16px;
	font-family: 'Playfair Display', serif;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

svg {
	max-width: 100%;
}

a:hover,
a:focus {
	text-decoration: none;
}


/*============== 2. Utilities ==============*/

/* fonts */
.u-h1 {
	font-size: 36px;
}

.u-h2 {
	font-size: 32px;
}

.u-h3 {
	font-size: 28px;
}

.u-h4 {
	font-size: 24px;
}

.u-h5 {
	font-size: 20px;
}

.u-h6 {
	font-size: 16px;
}

.u-text-small {
	font-size: 14px;
}

.u-font-serif {
	font-family: 'Playfair Display', serif;
}

.u-font-italic {
	font-style: italic;
}

.u-weight-700 {
	font-weight: 700;
}

.u-weight-900 {
	font-weight: 900;
}

.u-color-white {
	color: #fff;
}

.u-color-primary {
	color: #dcb36e;
}

.u-color-grey {
	color: #575757;
}

/* backgrounds */
.u-bg-secondary {
	background-color: #faf8f1;
}

.u-bg-white {
	background-color: #fff;
}

.u-bg-primary {
	background-color: #dcb36e;
}

.u-bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
}

.u-bg-p-center {
	background-position: center;
}

.u-bg-p-bottom {
	background-position: bottom;
}

/* spacing */
.u-mt-5 {
	margin-top: 5rem;
}

.mt-6 {
	margin-top: 6rem;
}

.mt-7 {
	margin-top: 7rem;
}

.mb-6 {
	margin-bottom: 6rem;
}

.mb-7 {
	margin-bottom: 7rem;
}

.mb-8 {
	margin-bottom: 8rem;
}

.pt-6 {
	padding-top: 6rem;
}

.pt-7 {
	padding-top: 7rem;
}

.pt-8 {
	padding-top: 8rem;
}

.pb-6 {
	padding-bottom: 6rem;
}

.pb-7 {
	padding-bottom: 7rem;
}

.pb-8 {
	padding-bottom: 8rem;
}

/*============== 3. Elements ==============*/
.btn {
	text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    border-radius: 20px;
	padding: 10px 40px;
	font-weight: 700;
	background-color: #dcb36e;
	border: 1px solid #dcb36e;
	color: #fff;
	transition: all .3s ease;
}

.btn:hover,
.btn:focus {
	background-color: #fff;
	color: #dcb36e;
}

.btn--ghost {
	background-color: transparent;
	color: #dcb36e;
}

.btn--ghost:hover,
.btn--ghost:focus {
	background-color: #dcb36e;
	color: #fff;
}

.btn--full {
	display: block;
}

.btn--big {
	padding: 13px 70px;
}

.list-bare {
	list-style: none;
}

.short-line {
	width: 80px;
	height: 2px;
	background-color: #dcb36e;
	border: 0;
}

.short-line--black {
	background-color: #1f1f1f;
}

.icon--grey {
	color: #656565;
	transition: color .3s ease;
}

.icon:hover {
	color: #1f1f1f;
}


/*============== 4. Header ==============*/
.header {
	padding: 20px 0;
	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 999;
	border-bottom: 1px solid #e7e7e7;
}

.header__logo span {
	display: block;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 4px;
    color: #444;
}

.desktop-nav {
	list-style: none;
}

.desktop-nav li {
	margin: 0 20px;
	position: relative;
}

.desktop-nav__link {
	text-transform: uppercase;
	font-size: 14px;
}

.desktop-nav__submenu {
	position: absolute;
	top: 100%;
	left: -40px;
	background-color: #fff;
	padding: 20px 40px 20px 20px;
	min-width: 250px;
	opacity: 0;
	visibility: hidden;
}

.desktop-nav__item--has-submenu:hover > .desktop-nav__submenu {
	opacity: 1;
	visibility: visible;
}

.desktop-nav__submenu li {
	margin-bottom: 10px;
}
.desktop-nav__submenu li a {
	text-transform: uppercase;
	font-size: 14px;
}

.desktop-nav__submenu li:last-of-type {
	margin-bottom: 0;
}

.mobile-nav-trigger {
	display: block;
	margin-top: 7px;
}

.mobile-nav-trigger .icon {
	font-size: 26px;
}

.mobile-nav-list {
	display: none;
	text-align: center;
	list-style: none;
	text-transform: uppercase;
	padding-bottom: 30px;
}

.mobile-nav-list li {
	border-bottom: 1px solid rgba(220, 184, 128, 0.23);
	width: 80%;
	max-width: 400px;
	margin: 0 auto;
	padding: 10px 0;
}

.mobile-nav-list__submenu {
	padding-top: 10px;
	padding-bottom: 10px;
	display: none;
	list-style: none;
}

.mobile-nav-list__submenu > li {
	padding-bottom: 5px;
	border-bottom: 0;
}

.mobile-nav-list__item--has-submenu > a {
	position: relative;
	display: inline-block;
}

.mobile-nav-list__item--has-submenu > a:after {
	content: "+";
	position: absolute;
	right: -20px;
	line-height: 27px;
}

.mobile-nav-list__item--has-submenu > a.active:after {
	content: "-";
}

/*============== 5. Hero ==============*/
.hero {
	padding: 110px 0;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}

.hero--slide {
	height: 500px;
}

.hero--sm {
	padding: 60px 0;
}

.hero--md {
	padding: 100px 0;
}

.hero__title {
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 20px;
}

.hero__subtitle {
	font-weight: 700;
}

@media(min-width: 992px) {
	.hero {
		padding: 220px 0;
	}

	.hero--slide {
		height: 75vh;
	}

	.hero--sm {
		padding: 80px 0;
	}

	.hero--md {
		padding: 120px 0;
	}

	.hero__title {
		font-size: 50px;
	}

	.hero__subtitle {
		font-size: 18px;
	}
}

.hero-slider .slick-dots {
	position: absolute;
	bottom: 40px;
	width: 100%;
	text-align: center;
}

.hero-slider .slick-dots li {
	display: inline-block;
	margin: 0 4px;
}

.hero-slider .slick-dots li button {
	border: 0!important;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.5)!important;
	cursor: pointer;
	height: 14px;
	width: 14px;
	padding: 0;
	font-size: 0;
}

.hero-slider .slick-dots li.slick-active button {
	background-color: #fff!important;
}

/*============== 6. Story ==============*/
.story-block__upper-title {
	color: #dcb36e;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: 700;
}

.story-block__title {
	font-size: 32px;
	margin-bottom: 50px;
	position: relative;
}

.story-block__title:after {
	content: "";
	position: absolute;
	bottom: -18px;
	left: 0;
	width: 80px;
	height: 2px;
	background-color: #dcb36e;
}

.story-block p {
	letter-spacing: 0.3px;
}

@media(min-width: 992px) {
	.story-block__title {
		font-size: 36px;
	}
}

/*============== 7. Slider ==============*/
.slider-section {
	position: relative;
	padding: 60px 0 90px;
}

.slider-section__illustration {
	position: absolute;
	top: -175px;
	right: 0;
	z-index: -1;
	opacity: 0.5;
}

.slider-item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 250px;
	position: relative;
}

.slider-item span {
	display: inline-block;
	width: 85%;
    max-width: 200px;
	background: #faf8f1;
	font-size: 14px;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    color: #575757;
    font-weight: 700;
}

.slider-item--text-sm {
	padding: 8px;
	line-height: 1.3;
}

.slider-section mark {
	background-color: transparent;
	color: #575757;
	font-style: italic;
	display: block;
	font-weight: 500;
}

.slider-section .slick-list {
	height: 280px;
}

.slider-section .slider-arrow {
	position: absolute;
	top: 100%;
	cursor: pointer;
	width: 60px;
}

.slider-section .slider-arrow svg path {
	stroke: #dcb36e;
	stroke-width: 2px;
}

.slider-section .slider-arrow--prev {
	left: calc(50% - 60px);
}

.slider-section .slider-arrow--next {
	right: calc(50% - 60px);
}

@media(min-width: 1270px) {
	.slider-section .slider-arrow {
		top: calc(50% - 27px);
		width: auto;
	}

	.slider-section .slider-arrow--prev {
		left: -60px;
	}
	
	.slider-section .slider-arrow--next {
		right: -60px;
	}
}

/*============== 8. Menu ==============*/
.menu ul {
	list-style: none;
}

.menu-nav li {
	text-transform: uppercase;
}

.menu-nav__link.u-color-primary {
	padding-bottom: 2px;
	border-bottom: 2px solid #dcb36e;
}

.menu-tab {
	display: none;
	margin: 50px 0;
}

.menu-tab:first-of-type {
	display: block;
}

.menu-tab__img {
	position: absolute;
	top: -100px;
	right: 0;
	opacity: 0.5;
	z-index: -1;
}

@media(min-width: 768px) {
	.menu-list {
		width: 50%;
	}
}

.menu-list-item {
	margin-bottom: 18px;
}

.menu-list-item__title {
	font-weight: 700;
	font-size: 20px;
	flex: 1 0 auto;
}

.menu-list-item sup {
	color: #575757;
    margin-left: 2px;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 400;
}

.menu-list-item__desc {
	color: #575757;
	max-width: 80%;
	font-size: 14px;
}

.menu-list-item__desc,
.menu-list-item__price {
  flex: 1 0 auto;
}

.menu-list-item__dots {
  flex: 0 1 auto;
}

.menu-list-item__dots::before {
    display: block;
    overflow: hidden;
    content: ".....................................................................................................";
    height: 2em;
    padding: 0 6px;
    word-break: break-word;
    float: right;
}

/*============== 9. Testimonials ==============*/
.testimonial__quote {
	font-size: 22px;
}

.testimonial__person {
	font-size: 18px;
	font-style: italic;
}

.testimonials .slick-dots {
	margin-top: 20px;
}

.testimonials .slick-dots li {
	display: inline-block;
	margin: 0 4px;
}

.testimonials .slick-dots li button {
	background: transparent;
	border-radius: 50%;
    height: 14px;
    width: 14px;
    font-size: 0;
    border: 1px solid #1f1f1f;
    padding: 0;
}

.testimonials .slick-dots li.slick-active button {
	background: #1f1f1f;
}

/*============== 10. Article Card ==============*/
.article-card {
	display: block;
	height: 100%;
	background-color: #fff;
	text-align: center;
	padding-bottom: 10px;
	border: 15px solid #f3edde;
	margin-bottom: 30px;
}

.article-card--sm {
	height: auto;
}

.article-card__img-wrapper {
	height: 200px;
	width: 100%;
	overflow: hidden;
}

.article-card__img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 100%;
	transition: transform .8s ease;
}

.article-card__date {
	font-size: 14px;
	color: #575757;
}

.article-card:hover .article-card__img {
	transform: scale(1.1);
}

@media(min-width: 768px ) and (max-width: 991px) {
	.article-card__img {
		height: 100px;
	}
}

/*============== 11. Gallery ==============*/
.grid-item,
.grid-sizer {
	width: 100%;
}

.grid-item {
	margin-bottom: 4%;
}


@media(min-width: 576px) {
	.grid-item,
	.grid-sizer {
		width: 46%;
	}

	.gutter-sizer {
		width: 4%;
	}
}

@media(min-width: 768px) {
	.grid-item,
	.grid-sizer {
		width: 31.333%;
	}

	.grid-item {
		margin-bottom: 3%;
	}

	.gutter-sizer {
		width: 3%;
	}
}

/*============== 12. Blog ==============*/
.wysiwyg p {
	margin-bottom: 20px;
	letter-spacing: 0.3px;
	color: #575757;
}

.wysiwyg a {
	text-decoration: underline;
	font-weight: 700;
}

.wysiwyg img {
	margin-bottom: 20px;
}

.post-meta {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.post-meta li {
	padding-right: 10px;
}

.post-meta a {
	text-transform: uppercase;
    font-size: 12px;
    color: #575757;
    padding: 8px 21px;
	background-color: #dcb36e;
	border: 1px solid #dcb36e;
    color: #fff;
    border-radius: 16px;
	font-weight: 700;
	transition: all .3s ease;
}

.post-meta a:hover,
.post-meta a:focus {
	background-color: #fff;
	color: #dcb36e;
}

/*============== 13. Form ==============*/
.form input,
.form select,
.form textarea,
.form button {
	width: 100%;
}

.form-confirmation {
	color: #dcb36e;
	text-align: center;
	display: none;
}

.form__field {
	margin-bottom: 20px;
}

.form__field input,
.form__field textarea,
.form__field select {
	background-color: #faf8f1;
	padding: 10px;
	border: 0;
	border-bottom: 1px solid #dcb36e;
	color: #575757;
}

.form__field input[type="submit"],
.form__field button {
	background-color: #dcb36e;
	border: 1px solid #dcb36e;
	padding: 10px;
	cursor: pointer;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1.5px;
	transition: all .3s ease;
}

.form__field input[type="submit"]:hover,
.form__field input[type="submit"]:focus,
.form__field button:hover,
.form__field button:focus {
	background-color: #fff;
	color: #dcb36e;
}

.form__field select {
	height: 50px;
	-webkit-appearance: none;
}

.form__field__error {
	color: #575757;
	font-size: 14px;
	font-style: italic;
	display: none;
}

/*============== 14. Contact Info ==============*/
.contact-info {
	list-style: none;
    height: 100%
}

.contact-info li {
    font-size: 16px;
    padding: 10px;
}

.contact-info li span {
	text-transform: uppercase;
    color: #dcb36e;
    display: block;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.5px;
}

/*============== 15. Footer CTA ==============*/
.footer-cta {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 100px 0;
}

.footer-cta__title {
	font-size: 42px;
	font-weight: 700;
}

.footer-cta__subtitle {
	font-weight: 700;
	margin-bottom: 30px;
}

@media(min-width: 992px) {
	.footer-cta__title {
		font-size: 50px;
	}

	.footer-cta__subtitle {
		font-size: 18px;
	}
}

/*============== 16. Footer ==============*/
.footer-widgets {
	padding: 60px 0;
	font-size: 14px;
}

.footer p {
	margin-bottom: 0;
}
.footer__copy {
	font-size: 14px;
}

.footer-widget {
	margin-bottom: 30px;
}

.footer-widget__title {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 15px;
	color: #1f1f1f;
}

.footer-widget,
.footer-widget a {
	color: #656565;
}

.footer-widget ul {
	list-style: none;
}

.footer-widget__social-list li {
	display: inline-block;
	margin-right: 11px;
}

.footer-widget__social-list .icon {
	font-size: 20px;
}

.footer-social-list li:last-of-type {
	margin-right: 0;
}

/* fix for IE */
.mobile-nav-trigger .icon {
	width: 26px;
	height: 26px;
	display: block;
}

.footer-widget__social-list .icon {
	width: 20px;
	height: 20px;
	display: block;
}

.icon svg {
	fill: currentColor;
	display: block;
	width: 100%;
	height: 100%;
}

.icon .icon-inner {
	display: block;
	width: 100%;
	height: 100%;
}